.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-xl);
  background: white;
  padding: 8px 24px;
  border-radius: 8px;
}
.pagination-container p {
  margin: var(--space-xs) 0;
  color: var(--secondary-text-color);
}

.pagination__info-container {
  text-align: left;
}

.pagination__pages-container {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
}

.page-link {
  color: white;
  text-decoration: none;
  padding: var(--space-xs) var(--space-sm);
  background-color: var(--primary-color);
  border-radius: var(--space-xs);
}

.page-link:hover {
  filter: brightness(95%);
}

.page-item.disabled .page-link {
  opacity: 0.5;
  cursor: default;
  background-color: transparent;
  color: var(--text-color);
  cursor: default !important;
}

.pagination-controls-container {
  display: flex;
  gap: var(--space-md);
}
