.loader-container {
  height: 100vh;
}

.loader__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader__image {
  max-height: 300px;
  width: auto;
}
