.not-found-container {
  text-align: center;
  margin-top: 100px;
}

.not-found-image {
  max-width: 300px;
  margin-bottom: 20px;
}

.not-found-title {
  font-size: 3em;
  color: var(--secondary-color);
}

.not-found-message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.not-found-link {
  color: cyan;
  text-decoration: none;
}

.not-found-link:hover {
  text-decoration: underline;
}
