.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-image {
  max-width: 300px; /* Adjust as needed */
  margin-bottom: 20px;
}

.not-found-title {
  font-size: 3em;
  color: #e74c3c;
}

.not-found-message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.not-found-link {
  color: #3498db;
  text-decoration: none;
}

.not-found-link:hover {
  text-decoration: underline;
}
