:root {
  --primary-color: #1c4595;
  --secondary-color: #e76a24;
  --text-color: #01080a;
  --secondary-text-color: #7c7c7c;
  --background-color: #e7e5e8;
  --base-color: #e7e5e8;
  --accent-color: #fbbc42;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #faf9f6;
  font-synthesis: none;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #faf9f6;
  color: var(--text-color);
}

input[type='radio'] {
  transform: scale(1.5);
  outline: none;
}

input[type='radio']:checked {
  accent-color: var(--secondary-color);
}

select {
  transform: scale(1.4);
  background-color: white;
  border: 0.1px solid;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--space-xs);
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.primary-btn {
  background: var(--secondary-color);
  color: white;
}

button.link-btn {
  background: transparent;
  color: var(--secondary-color);
}

button.primary-btn:hover,
button.link-btn:hover {
  filter: brightness(95%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
